{% extends 'blog/base.html' %}

{% block contents %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Join Now!</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <div>
            <small>
                Already Have An Account? <a href"#">Sign in</a>
            </small>

{% endblock contents %}