{% extends 'blog/base.html' %}

{% block title %}
Business Blog
{% endblock title %}

{% block content %}

<section>
    {% for post in posts %}
        {% comment %} <h1>{{ post.title }}</h1>
        <p>By {{ post.author }} on {{ post.date_posted }}</p>
        <p>{{ post.content }}</p> {% endcomment %}
        <div class="list-group">
         <article>
          <div class="media-body">
           <div class="list-group">
            <a href="#">{{ post.author }}</a>
            <small>{{ post.date_posted }}</small>
           </div>
           <h2><a href="#">{{ post.title }}</a></h2>
           <p>{{ post.content }}</p>
         </article>
    {% endfor %}
</section>

<section>
    <form action="" method="post">
        <p>
            please submit your Blog :
            <input type="text" name="url">
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>

    </form>
</section>

{% comment %} <!DOCTYPE html>
<html>
    <head lang="en">
        <title>Business Blog</title>
    </head>

    <section>
        <form action="" method="post">
            <p>
                Please submit your Blog :
                <input type="text" name="url">
            </p>
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
    </section>
</html> {% endcomment %}
{% endblock content %}

{% block footer %}
{% endblock footer %}